.app-menu {
  background: #22282F;
  border: none;
  min-width: auto;
  flex: none;
  font-size: 12px;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected {
  background: transparent !important;
  position: relative !important;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected::after {
  display: none !important;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected::before {
  content: '' !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: calc(100% - 10px) !important;
  height: calc(100% - 40px) !important;
  border: 1px solid #a0aec0 !important;
  border-radius: 20px !important;
  pointer-events: none !important;
} 