.app-layout {
  background: linear-gradient(180deg, #22282F 15%, #6172AC 100%);

  min-height: 100vh;
  background: linear-gradient(180deg, #22282F 15%, #6172AC 100%);
}

.app-header {
  background: rgba(34, 40, 47, 0.35);
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 64px;
}

.menu-container {
  flex: 1 1 auto;
  max-width: 480px;
}

.logo-container {
  margin-top: 3vh;
  position: absolute;
  left: 50%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 128px;
}

.logo {
  height: 110px;
}

.header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-input {
  width: 160px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #000 !important;
  border-radius: 12px;
}

.icon-container {
  display: flex;
  gap: 8px;
  
}

.header-icon {
  padding: 5px;
  font-size: 16px;
  color: #a0aec0;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.212);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 6px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 4px 8px;
  border-radius: 12px;
  cursor: pointer;
}

.profile-text {
  color: #ffffff;
  font-size: 12px;
}

.profile-arrow {
  font-size: 8px;
  color: #a0aec0;
}

.app-content {
  background: transparent;
} 